<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:replace="fragments/sale-details :: sale(#{sale.details.title}, ${viewModel})"/>

<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:replace="fragments/customers :: customers(#{customers.details.title}, ${viewModel.customerViewModel})"/>

<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:replace="fragments/cars :: cars(#{cars.details.title}, ${viewModel.carWithPartsViewModel})"/>

<div xmlns:th="http://www.w3.org/1999/xhtml"
     th:replace="fragments/parts :: parts(#{cars.parts.title}, ${viewModel.carWithPartsViewModel.parts})"/>
