<table xmlns:th="http://www.w3.org/1999/xhtml"
       class="table mt-2 mb-2 center-block w-100 mx-auto"
       th:fragment="customer (title, customer)">
    <h2 class="header mt-2 mb-2 center-block text-center w-100 mx-auto" th:text="*{title}"/>
    <thead>
    <tr>
        <th scope="col" th:text="#{customers.details.table-header.name}"/>
        <th scope="col" th:text="#{customers.details.table-header.cars-bought}"/>
        <th scope="col" th:text="#{customers.details.table-header.money-spent}"/>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td th:text="*{customer.name}"/>
            <td th:text="*{customer.carsBought}"/>
            <td th:text="*{#numbers.formatDecimal(customer.moneySpent, 1, 'DEFAULT', 2, 'DEFAULT')}"/>
        </tr>
    </tbody>
</table>
